build/
obj/
bin/
*.o
*.app/
*.DS_Store
/Dev
*.svn

#XCode 
*.xcscheme
*.xcsettings
*.xcworkspacedata
*.xcworkspace
*.xcuserdatad
*.mode1v3
*.pbxuser


#Code::Blocks
*.depend
*.layout

#Visual Studio
*.sdf
*.opensdf
*.suo
ipch/


###################
*.com
*.class
*.dll
*.exe
*.o
*.app